.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    max-width: 100%;
    padding: 60px;
    flex-wrap: wrap;
    background-color: #f4f4f4; 
  }
  
  .hero-left img {
    width: 400px; 
    height: 400px; 
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }
  
  .hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    text-align: left;
  }
  
  .content h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #000; 
  }
  
  .content p {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.6;
    color: #333; 
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .download {
    display: flex;
    gap: 20px;
  }
  
  .download button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .download button:hover {
    background-color: #0056b3; 
  }
  .social{
    display: flex;
  }
  .social-link {
    display: flex;
    align-items: left;
    justify-content: left;
    color: #333;
    font-size: 48px;
    transition: color 0.3s ease;
    margin: 0 10px; 
  }
  
  .social-link:hover {
    color: #007bff;
  }